html{
  box-sizing: border-box;
  background-color: #191919;
  color: #fff;
  font-family: Sora;
}

header {
  margin-top: 20px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

nav {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  text-align: left;
  font-size: 16px;
  color: #fff;
}
.day2day{
  position: relative;
  font-size: 50px;
  font-family: Staatliches;
}
.nav-links{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 48px;
  cursor: pointer;
}
.navbtn{
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #191919;
  color: #fff;
  cursor: pointer;
}
.navbtn:hover{
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #191919;
  background-color: #fff;
  cursor: pointer;
  transition: .5s;
}
section.Home{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1%;
}
.parent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-left{
  width: 50%;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  flex-direction: column;
}
.home-right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.main-left{
  width: 100%;
  position: relative;
  font-size: 67px;
  font-family: Sora;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.body-left{
  width: 100%;
  position: relative;
  font-size: 21px;
  text-transform: capitalize;
  font-family: Sora;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.main-button{
  position: relative;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-start;
}
.button1{
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #191919;
  color: #fff;
  cursor: pointer;
}
.button1:hover{
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #191919;
  background-color: #fff;
  cursor: pointer;
  transition: .5s;
}
.button2{
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #191919;
  background-color: #fff;
  cursor: pointer;
}
.button2:hover {
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #191919;
  color: #fff;
  cursor: pointer;
  transition: .5s;
}
.homepage-bottom{
  position: relative;
  width: 100%;
  padding-top: 2%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.largebtn{
  margin-bottom: 2%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.large{
  width: 300px;
  gap: 56px;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
  background-color: #191919;
  color: #bdbdbd;
  box-sizing: border-box;
  height: 141px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 45px 20px;
  font-size: 21px;
}
section.about{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1%;
}
.about-parent{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-size: 50px;
}
.about-grid{
  position: absolute;
  top: 136px;
  left: 0px;
  width: 1207px;
  height: 431px;
  }
.who-parent{
  position: relative;
  border-radius: 20px;
  border: 1px dashed #fff;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  gap: 10px;
  text-align: left;
  font-size: 37px;
  color: #fff;
}
.who-body{
  font-size: 16px;
  display: inline-block;
  }
.samridh-wrapper{
  position: relative;
  border-radius: 20px;
  border: 1px dashed #fff;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  gap: 10px;
  text-align: left;
  font-size: 12px;
  color: #fff;
}
.quote{
  font-size: 37px;
}
.quote p{
  font-size: 16px;
  text-align: right;
}
.begin-wrapper{
  position: relative;
  border-radius: 20px;
  border: 1px dashed #fff;
  box-sizing: border-box;
  width: 20%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;
  text-align: left;
  font-size: 37px;
  color: #fff;
}

section.Tasks{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1%;
}
.tasks-main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}
.tasks-body{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  font-size: 50px;
}
.tasks-text{
  font-size: 50px;
  color: #fff;
}
.tasks-subtext{
  font-size: 21px;
  color: #fff;
}
.task-img{
  width: 100%;
  position: relative;
  border-radius: 50px;
  max-width: 100%;
  overflow: hidden;
  height: 319px;
  object-fit: cover;
}
.tasks-bottom{
  position: relative;
  width: 100%;
  padding-top: 10%;
  margin-bottom: 1%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #bdbdbd;
  font-weight: 100;
  font-size: 21px;
}
section.task-form{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1%;
}
.tasks-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tasklist-text{
  font-size: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
}
.taskform{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  padding: 20px;
  text-align: left;
  background-color: #191919;
  border: #bdbdbd;
}
.formbuttons{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  gap: 30px;
}
.button3{
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #191919;
  color: #fff;
  cursor: pointer;
}
.button3:hover{
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #191919;
  background-color: #fff;
  cursor: pointer;
  transition: .5s;
}
section.task-list{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1%;
}
.tasklist{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.task-list-main{
  gap:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #bdbdbd;
  box-sizing: border-box;
}

.task-list-body{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  font-size: 21px;
  border: #bdbdbd 2px;
}
section.timer{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1%;
}
.Timer-time{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timer-buttons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.timer-buttons-action{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
section .Leaderboard{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1%;
}

.leaderboard-body{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10%;
}

.leaderboard-main{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10%;
}
.leaderboard-text{
  font-size: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaderboard-subtext{
  font-size: 21px;
  color: #fff;
}
.leaderboard-img{
  width: 100%;
  position: relative;
  border-radius: 50px;
  max-width: 100%;
  overflow: hidden;
  height: 319px;
  object-fit: cover;
}

.leaderboard-bottom{
  position: relative;
  width: 100%;
  padding-top: 10%;
  margin-bottom: 1%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #bdbdbd;
  font-weight: 100;
  font-size: 21px;
}

section.leaderboardstats{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1%;
}

.leadertxt{
  font-size: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderbox{
  display: grid;
  justify-content: center;
  align-items: center;
}
.Current{
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  padding: 5%;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  height: 141px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 45px 20px;
  font-size: 21px;
}
.LastMonth{
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  padding: 5%;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  height:65px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 45px 20px;
  font-size: 21px;
}
.YStats{
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  padding: 5%;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  height:65px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 45px 20px;
  font-size: 21px;
}